{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallary</title>
    <link rel="stylesheet" href="{% static 'gallary/styles.css' %}">
    <link rel="stylesheet" href="{% static 'gallary/main.css' %}">

</head>
<body>
      {%include "gallary/components/artModal.html" %}
     {%include 'gallary/components/spinner.html'%}
     <div class="h-screen w-full relative">
              {%include 'gallary/components/counter.html'%}
          <img  id='image' class="h-full mx-auto"/>
     </div>
    
    <script src="{% static 'gallary/flowbite.min.js'  %}"></script>
    <script src="{% static 'gallary/main.js'  %}"></script>
</body>
</html>