 img {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

img.loaded {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease, transform 1s ease;
  }